---
layout: index
title: Home
permalink: /
---
<div class="container">
        <div class="row centered">
        <div class="col-md-8 col-md-offset-2">
        <p class="text-center" style="padding-top: 15px;"><h2>An Amsterdam based sneaker designer, music / fashion journalist and trend analyst who wants to be apart of the now.</h2></p>
        </div>
        </div>
</div>
<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-sm-4">
                <i class="fa fa-gear"></i>
                <h4>Sneaker Design</h4>
                <p>Sneakers make people do crazy things for the right product. Brand, storytelling and consumer drive choices in material, construction and color. Longstanding industry insight, solid concept building and quick prototyping techniques lead my process.</p>
            </div>
            <div class="col-sm-4">
                <i class="fa fa-pencil"></i>
                <h4>Music Journalism</h4>
                <p>All musicians have more to say than just their lyrics. Digging into their inspiration, process and background offers a better understand of their work. Through research and asking the right questions I am able to deliver this to a curious reader.</p>
            </div>
            <div class="col-sm-4">
                <i class="fa fa-eye"></i>
                <h4>Trend Analysis</h4>
                <p>Utilizing multiple approaches, I thoroughly analyze fashion trends to build better concepts and products. Documentation through photography, video and writing illustrates the overall impression and particulars for an in depth understanding.</p>
            </div>
        </div>
        <div class="hline"></div>
    </div><! --/container -->
</div><! --/service -->

{% include portfolio.html title="LATEST PROJECTS" limit=10 %}



<!-- <div class="container mtb">
    <div class="row">
        <div class="col-12">
            <h4>Latest Posts</h4>
            <div class="hline"></div>
            {% for post in site.posts limit:5 %}
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
            {% endfor %}
        </div>
    </div>
</div> -->
