{% assign item=include.content %}
{% assign breakout = include.breakout %}
{% assign class = include.class %}
{% assign image_on_left = include.image_on_left %}

{% unless item %}
{% assign item=include
  %}
{% endunless %}

{% if include.button_title %}
{% assign button_title = include.button_title %}
{% else %}
{% assign button_title = item.button_title %}
{% endif %}

{% if include.button_link %}
{% assign button_link = include.button_link %}
{% else %}
{% assign button_link = item.button_link %}
{% endif %}

{% unless breakout == false%}
{% assign breakout = true %}
{% endunless %}

{% unless image_on_left == true%}
{% assign image_on_left = false %}
{% endunless %}

{% if item.thumbnail %}
{% assign image = item.thumbnail %}
{% else %}
{% assign image = item.image %}
{% endif %}

{% if include.focus_image %}
{% assign col_text = 5 %}
{% assign col_img = 7 %}
{% assign col_br = 'md' %}
{% else %}
{% assign col_text = 7 %}
{% assign col_img = 5 %}
{% assign col_br = 'md' %}
{% endif %}

{% if include.text_class %}
{% assign text_class = include.text_class %}
{% else %}
{% assign text_class = "text-primary" %}
{% endif %}

{% if breakout %}
<div class="breakout py-5 mb-3 {{class}}">
  <div class="container">
{% endif %}
<div class="row align-items-center {{text_class}}">
  {% if image_on_left %}
  <div class="col-12 col-{{col_br}}-{{col_img}}">
    <img src="{{image}}" alt="">
  </div>
  {% endif %}
  <div class="col-12 col-{{col_br}}-{{col_text}}">
    <h2 class="mb-4 mb-lg-5 pt-0">{{item.title | escape}}</h2>
    {% if item.subtitle %}<p class="fs-lg-2 fs-3 mb-3 mb-lg-5"><strong>{{item.subtitle}}</strong></p>{% endif %}
    {% if item.description %}<p class="fs-lg-2 fs-3 fw-500 mb-3 mb-lg-5">{{item.description}}</p>{% endif %}
    {% if button_title %}
      {% if item.button_link_new_window %}
      {% assign target = 'target="_blank"' %}
      {% else %}
      {% assign target = '' %}
      {% endif %}
    <p class="pt-4 text-lg-start"><a href="{{button_link}}" {{target}} class="btn btn-outline-primary">{{button_title}}</a></p>
    {% endif %}
  </div>
  {% if image_on_left == false %}
  <div class="col-12 col-{{col_br}}-{{col_img}}">
    <img src="{{image}}" alt="">
  </div>
  {% endif %}
</div>
{% if breakout %}
  </div>
</div>
{% endif %}