{% assign row = include.content %}

<div class="row_element {{ row.style }}">

  <div class="image" {% if row.image_width %}style="width: {{ row.image_width}}"{% endif %}>
    <img src="{{ row.image }}">
  </div>

  <div class="text" {% if row.text_width %}style="width: {{ row.text_width}}"{% endif %}>
    {% if row.h1 %}<p class="emphasis-text">{{ row.h1 }}</p>{% endif %}
    {% if row.h2 %}<p class="main-text">{{ row.h2 }}</p>{% endif %}
    {% if row.text %}<div class="descriptor-text">
      {{ row.text | markdownify }}
    </div>{% endif %}
    {% if row.button_text %}
      <div class="button-container"><a href="{{ row.button_url }}" class="button inversed">{{ row.button_text }}</a></div>
    {% endif %}
  </div>
</div>