<div id="portfoliowrap">
<div id="container">
    <div class="portfolio-centered">
        {% if include.title %}<h3>{{ include.title }}</h3>{% endif %}
        
    {% if include.category %}
        {% if include.category == "Sneakers" %}
            {% include portfolio_img.html limit=include.limit %}
        {% endif %}
    
        {% if include.category == "Journalism" %}
            {% include portfolio_txt.html limit=include.limit %}
        {% endif %}
    {% else %}
        {% include portfolio_img.html limit=include.limit %}
        {% include portfolio_txt.html limit=include.limit %}
    {% endif %}
        
    </div><!-- portfolio container -->
</div>
</div><!--/Portfoliowrap -->
