{% assign projects = site.projects | where:"category","Journalism" %}
{% assign projects = projects | sort:'date' | reverse %}
<!-- | sort:'date' | reverse | -->
    
<div class="container">
{% for project in projects limit:include.limit %}
  {% if include.current_title and include.current_title == project.title %}
    {% continue %}
  {% endif %}
  
  {% cycle 'ph': '<div class="row centered">', '', '' %}
                
            <div class="col-sm-4">
            <a href="{{  project.url | prepend: site.baseurl }}">
                <h4>{{ project.title }}</h4>
                <p>xxx</p>
            </a>
            </div>
            
  {% cycle 'pf': '</div>', '', '' %}
{% endfor %}                
</div><! --/container -->
