
        <div class="recentitems portfolio">
            {% assign projects = site.projects | where:"category","Journalism" %}
            {% assign projects = projects | sort:'date' | reverse %}
            <!-- | sort:'date' | reverse | -->

            {% for project in projects limit:include.limit %}
                {% if include.current_title and include.current_title == project.title %}
                    {% continue %}
                {% endif %}
                <div class="portfolio-item graphic-design" style="height: 200px;">
                    <div class="he-wrap tpl6">
                    <a href="{{  project.url | prepend: site.baseurl }}">
                        <div class="he-view">
                                <h3 class="a1">{{ project.title }}</h3>
                                
                                sdcsdc
                        
                        </div><!-- he view -->
                        </a>
                    </div><!-- he wrap -->
                </div><!-- end col-12 -->
            {% endfor %}
        </div><!-- portfolio -->
