{% assign post = include.content %}
{% assign show_category = include.which_category_to_show %}

<div class="col-lg-4 mb-4 mb-lg-2">
  <p class="insight-title fs-2"><strong>
    {% if post.url %}<a href="{{ post.url | relative_url }}">{% endif %}
      {{ post.title | escape }}
    {% if post.url %}</a>{% endif %}</strong></p>

  <p class="insight-desc">
    {% if post.description %}
  {{ post.description | markdownify }}
    {% else %}
  {{ post.excerpt | strip_html | truncatewords:30 }}
    {% endif %}
  </p>

  {% if post.date %}<p class="insight-date">{{ post.date | date_to_string }}</p>{% endif %}
</div>
