{% assign icons = include.icons | downcase  | split: ',' %}
{% assign titles = include.titles | split: ',' %}
{% assign title = include.title %}
{% assign breakout = include.breakout %}

{% if title %}
  <div class="row mb-4 mb-lg-5 mt-5 mt-lg-6">
    <div class="col-lg-8 offset-lg-2">
      <p class="fs-2 mb-4 text-center"><strong>{{title}}</strong></p>
    </div>
  </div>
  {% endif %}
{% if breakout %}
{% assign mb=4 %}
<div class="breakout bg-lgrey pt-6 pb-5 mb-5">
  <div class="container">
{% else %}
{% assign mb=6 %}
{% endif %}
<div class="row mb-{{mb}}">
  {% for item in icons %}
  {% assign icon = item | strip %}
  {% assign icon_t = titles[forloop.index0] | strip %}
  <div class="col-lg-3 col-6 px-3 pb-2">
    <div class="shadow text-center bg-white p-5 h-100">
      <div class="icon-w pb-4">
        <svg class='icon icon-{{icon}}'>
          <use xlink:href='/assets/images/sprite/sprite.svg#{{icon}}' />
        </svg>
      </div>
      <div class="fs-3">{{icon_t}}</div>
    </div>
  </div>
  {% endfor %}
</div>
{% if breakout %}
  </div>
</div>
{% endif %}
