@charset "utf-8";

@import "rfs";

$second-font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$base-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 600 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;
$border-standard:  0.7rem !default;

$text-color:       #000 !default;
$background-color: #fff !default;
$brand-color:      #3B31B2 !default;
$brand-color-light: #A7A0FA;
$second-brand-color:  #FF8BD1;
$second-brand-color-light: #FFE8F7; 
$color-black:      black;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;
$orange-color:     #f66a0a !default;
$table-text-align: left !default;

$content-width:    800px !default;
$on-palm:          600px !default;
$on-laptop:        980px !default;
$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
// Notice the following mixin uses max-width, in a deprecated, desktop-first
// approach, whereas media queries used elsewhere now use min-width.

/* generic styles */

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html { 
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $base-font-family;
  color: $text-color;
  background-color: $background-color;
}

// @media (prefers-color-scheme: dark) {
//     /* Overrides for Dark Mode. */
//     body {
//         color: white;
//         background: black;
//     }
// }

main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
  padding-bottom: 60px;
  border-top: 1px solid $grey-color-light;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

h2 {
  @include rfs(40);
  font-family: $second-font-family;
  font-weight: 600;
  font-style: italic;
  // padding-top: 1rem;
}

h3 {
  @include rfs(26);
  font-family: $second-font-family;
  font-weight: 500;
  margin-top: 1vh;
  margin-bottom: 2vh;
}

a {
  text-decoration: none;

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}

// blockquote {
//   color: $grey-color;
//   border-left: 4px solid $grey-color-light;
//   padding-left: $spacing-unit / 2;
//   @include relative-font-size(1.125);
//   font-style: italic;
//   // letter-spacing: -1px;

//   > :last-child {
//     margin-bottom: 0;
//   }
// }

// pre, code {
//   @include relative-font-size(0.9375);
//   border: 1px solid $grey-color-light;
//   border-radius: 3px;
//   background-color: #eef;
// }

// code {
//   padding: 1px 5px;
// }

// pre {
//   padding: 8px 12px;
//   overflow-x: auto;

//   > code {
//     border: 0;
//     padding-right: 0;
//     padding-left: 0;
//   }
// }

header, footer, article {
  @extend %clearfix;
  // max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
  // max-width: $content-width - $spacing-unit;
  // margin-right: auto;
  // margin-left: auto;
  // padding-right: $spacing-unit / 2;
  // padding-left: $spacing-unit / 2;
  // line-height: $base-line-height;

  // @media screen and (min-width: $on-large) {
  //   // max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  //   max-width: $content-width - $spacing-unit * 2;
  //   padding-right: $spacing-unit;
  //   padding-left: $spacing-unit;
  // }
  // padding-right: 20px;
  // padding-left: 20px;
}

// .pad-bottom {
//   padding-bottom: 20px;
// }

// .thin {
//   font-weight: 200;
// }

/* nav, header, footer */

header nav {
  float: right;
  // text-transform: uppercase;
  // position: absolute;
  // top: 9px;
  // right: $spacing-unit / 2;
  // background-color: $background-color;
  // border: 1px solid $grey-color-light;
  // border-radius: 5px;
  // text-align: right;

  a {
    @include rfs(20);
    font-family: $second-font-family;
    text-transform: uppercase;
    font-style: italic;
    color: white;
    line-height: $base-line-height;
    display: inline;
    margin-left: 5vw;

    &:not(:last-child) {
      margin-right: 0;
    }

    &:visited {
      text-decoration: none;
    }

    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
}

.bg-black {
  background-color: $brand-color;
  color: white;
  padding-top: 6vh;
  padding-bottom: 7vh;

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10vw;
    margin: 0;
  }

  @media screen and (max-width: 670px) {
    .cards {
      display: block;
      float: right;
      width: 100%;
      margin-right: 0;
    }
  } 

  h3 {
    font-family: $second-font-family;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0.03rem;
  }

  i.fas, 
  i.far,
  i.fab {
    font-size: 1.5rem;
    border-radius: 50%;
    color: white;
    border: 3px solid white;
    padding: 0.5rem;
    margin-right: 0.5rem;
  }

  i.fas,i.fab:hover {
    color: $brand-color;
    background-color:#FFFFFF;
  }

  i.far:hover {
    color: $brand-color;
    background-color:#FFFFFF;
  }

  .site-navigation-bottom {
    margin-bottom: 5vh;

    a {
      @include rfs(20);
      color: white;
      display: table;
      line-height: 2rem;
    }
  }

  .copyright {
    @include rfs(12);
    margin-top: 1.2rem;

    .fa-heart {
    @include rfs(12);
    color: white;
    margin-right: 0.3rem;
    border: none;
    background: none;
    padding: 0;
    }
  }
}

.container {
  padding-right: 5vw;
  padding-left: 5vw;

  ul {
    margin-left: 0;
    padding-left: 0;
    list-style-position: inside;
    @include rfs(18);
  }

  @media screen and (min-width: 1550px) {
      padding-left: 15vw;
      padding-right: 15vw;
  } 
}

// @media screen and (min-width: 768px) {
//   .container {
//     padding: 0;
//     margin: 0;
//     // padding-right: 10px;
//     // padding-left: 10px;
//     }
// }

// @media screen and (min-width: 980px) {
//   .container {
//     padding-left: 50px;
//     padding-right: 50px;
//         // max-width: 90vw;
//         // text-align: center;
//         // margin: 0 auto;
//         // padding: 0 auto;
//     }
// }

/* buttons */

.button-container {
  @include rfs(24);
  font-family: $second-font-family;
  font-weight: 700;
  text-align: right;

  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

a.button {
  display: inline-block;
  padding: 0.6em 1.4em;
  margin: 0em 0.3em 0.3em 0;
  border: 0.25em solid white;
  box-sizing: border-box;
  text-decoration: none;
  background-color: $brand-color;
  color: white;
  text-align: center;
  transition: all 0.2s;

  &:hover {
    color: $brand-color;
    background-color: white;
    border: 0.25em solid $brand-color;
  }

  @media all and (max-width:30em) {
    display: block;
    margin: 0.4em auto;
  }
}

a.button.inversed {
  background-color: inherit;

  &:hover {
    background-color:white;
    color: $second-brand-color;
    border: 0.25em solid white;
  }
}

/* hero */

.hero {
  color: white;
  clear: both;
  font-family: $second-font-family;
  font-weight: 700;
  @include rfs(55);
  margin: 0;
  letter-spacing: 0.07rem;

  .highlight {
    color: $brand-color;
    background: white;
    padding: 0rem 0.5rem 0rem 0.5rem;
  }
}

.hero-body {
  margin: 15vh 0 13vh 0;
  width: 66%;

  @media screen and (max-width: 760px) {
    width: 90vw; 
    margin: 5vh 0vw 10vh 0;
  }

  @media screen and (min-width: 1500px) {
    width: 60%;
  }
}

/* home page statements & illustrations */

.row_element  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 6vh;
  margin-bottom: 12vh;

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 30%;
    color: white;
    padding: 3vh 0;

    .emphasis-text {
      @include rfs(44); 
      font-weight: 700; 
      font-style: italic;
      font-family: $second-font-family;
      padding: 3vh 4vw 0vh 4vw;
      margin: 0;

      @media screen and (max-width: 768px) {
        padding: 2vh 4vw 0vh 4vw;
      }
    }

    .main-text {
      @include rfs(28); 
      font-weight: 700; 
      line-height: 2.4rem;
      font-family: $second-font-family;
      padding: 1vh 4vw 0vh 4vw;
    
      @media screen and (max-width: 768px) {
        line-height: 2.4rem;
        padding: 0vh 4vw 0vh 3vw;
      }
    }

    .descriptor-text {
      @include rfs(24); 
      font-weight: 400; 
      font-family: $base-font-family;
      line-height: 2rem;
      padding: 0vh 4vw 4.5vh 4vw;

      @media screen and (max-width: 768px) {
        padding: 0vh 4vw 3.5vh 4vw;
      }
    }
  
    .button-container {
      float: none; 
      text-align: center;
      margin: 2vh 2vw 2vh 2vw;

      @media screen and (max-width: 768px) {
        margin: 0vh 4vw;
        width: 90%;
      }
    }
  }

  .image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
  }

  &.reverse {
    flex-direction: row-reverse;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    margin-top: 4vh;
    margin-bottom: 6vh;

    .image, .text {
      min-width: 100%;
    }

    .text {
      display: block;
      max-width: 100%;
      margin: 4vh 0 0 0;
      padding: 5vh 0 5vh 0vw;
    }

    &.reverse {
      flex-direction: column;
    }
  }

  &.pink {

    .text {
      background: $second-brand-color;
    }
    .button a:hover {
      color: $second-brand-color;
    }
  }

  &.blue {
    .text {
      background-color: white;
      color: black;
      margin-right: 1rem; /*offset the shadow*/
      box-shadow: 1rem 1rem $brand-color;
      border: $border-standard solid $brand-color;
    }

    .button a:hover {
      color: $brand-color;
    }
  }

}

/* hero & statement, old */

// .hero {
//   align-items: stretch;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;

//   margin-bottom: 40px;
//   padding-top: 50px;
//   padding-bottom: 50px;

//   overflow: hidden;
//   position: relative;
//   height: 25vh;
//   min-height: 240px;
//   max-height: 800px;

//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   background-size: cover;
//   // background-size: auto 100%;
//   background-position: center top;
// }

// .hero.is-small .hero-body {
//     padding-bottom: 1.5rem;
//     padding-top: 1.5rem
// }

// @media screen and (min-width: 769px),print {
//     .hero.is-medium .hero-body {
//         padding-bottom:9rem;
//         padding-top: 9rem
//     }
// }

// @media screen and (min-width: 769px),print {
//     .hero.is-large .hero-body {
//         padding-bottom:18rem;
//         padding-top: 18rem
//     }
// }

// .full-width {
//   width: 100vw;
//   position: relative;
//   left: 50%;
//   margin-left: -50vw;
//   right: 50%;
//   margin-right: -50vw;
// }

/* for posts */

.category-nav {
  margin: 3vh 0 3vh 0;
  line-height: 1.7;
  font-family: $second-font-family;
  /* top navigation bar */

  #active {
    text-decoration: underline;
  }
}

.category-name {
  a:active {
    color: $brand-color;
  }
}

article header, article footer {
  padding: 0;

  h1 {
    font-family: $second-font-family;
    @include rfs(32);
  }
}

.content {
  max-width: 800px;
  font-weight: 400;
  line-height: 1.6rem;
  color: #373d3f;

  h2 {
    @include rfs(26);
    font-style: normal;
    padding: 0;
    line-height: 2rem;
    color: $color-black;
  }

  h3 {
    @include rfs(21);
    font-style: normal;
    padding: 0;
    line-height: 1.5rem;
    color: $color-black;
  }

  dt {
    font-weight: bold;
  }
}

.content img {
  max-width: 100%;
}

@media screen and (min-width: 980px) {
    article {
        font-size: 18px;
        // line-height: 26px;
    }
}

table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;

  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }

  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }

  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }

  td {
    border: 1px solid $grey-color-light;
  }
}

.post-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.entry-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.posts-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;

  article {
    width: 33%;
    padding: 0;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 15px;

  p {
    line-height: 1.6rem;
  }

  article {
    border-top: $border-standard solid $brand-color;
  }

  @media screen and (max-width: 330px) {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  
}

.pagination {
  float: right;
  @include rfs(18);
  font-weight: 700;
  font-family: $second-font-family;
  letter-spacing: 0.01rem;
}

.page_number {
  font-family: $base-font-family;
  font-weight: 400;
}

.further_reading {
  margin: 6vh calc(6vw - 1rem); /*offset the shadow*/
  padding: 2vh 3vw;
  max-width: 500px;
  box-shadow: 1rem 1rem $brand-color;
  border: $border-standard solid $brand-color;

  ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
  }

  li {
    margin-top: 0.6rem;
  }
}

/* about, clients, services */

.cards-2-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5vw;
  margin-top: 5vh;
  margin-bottom: 5vh;

  ul {
    line-height: 1.8rem;
  }

  p {
    line-height: 1.6rem;
  }

  article {
    border-top: $border-standard solid $brand-color;
  }

  @media screen and (max-width: 670px) {
      display: block;
      width: 100%;
      margin-right: 0;
  } 

}

// .story {
//   font-family: $base-font-family;
//   @include rfs(20);
//   font-weight: 600;
//   max-width: 700px;
//   line-height: 1.4em;
//   letter-spacing: 0.01rem;
//   padding: 0vh 7vw 0 0;

//   a {
//     color: $brand-color;
//   }
// }

.cards-3-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5vw;
  margin-top: 5vh;

  ul {
    line-height: 1.8rem;
  }

  article {
    border-top: $border-standard solid $brand-color;
  }

}
  
@media screen and (max-width: 670px) {
  .cards-3-columns {
    display: block;
    width: 100%;
    margin-right: 0;
  }
} 

.clients {
  padding: 8vh 4vw 8vh 4vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
  grid-column-gap: 1.5rem;
  grid-row-gap: 3rem;
  margin-right: 1rem; /*offset the shadow*/
  box-shadow: 1rem 1rem $brand-color;
  border: $border-standard solid $brand-color;
  background-color: white;
  // background-color: #f4f4f4;

  img {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

}

/* css nav bar*/

.header-top {
  background-color: $brand-color;
  padding-bottom: 0;
  padding-top: 4vh;
}

a {
  color: #000;
}

/* header */

.navbar {
  background-color: $brand-color;
  font-family: $second-font-family;
  font-weight: 700;
  letter-spacing: 0.02rem;
  color: white;
  width: 100%;
  z-index: 3;
}

.site-title {
  @include rfs(28);
  float: left;
  padding-bottom: 1.5rem;
  text-transform: none;
  letter-spacing: 0.01rem;

  &:hover {
    text-decoration: underline;
  }
  
  &:visited {
    color: white;
  }

  @include media-query($on-palm) {
    padding-right: 45px;
  }
}

.navbar {

  ul {
    list-style: none;
    overflow: hidden;
    padding-top: 0.2rem;
  }
  
  li a {
    display: block;
    padding: 0 0 2rem 0;
    margin: 0;
    color: white;
    text-decoration: none;
  }
  
  li a:hover, .menu-btn:hover {
    text-decoration: underline;
  }
  
  // .logo {
  //   display: block;
  //   float: left;
  //   font-size: 2em;
  //   // padding: 10px 20px;
  //   text-decoration: none;
  // }
  
  .menu {
    clear: both;
    max-height: 0;
    margin: 0;
    transition: max-height .2s ease-out;
    @include rfs(19);
  }
  
  .menu-icon {
    cursor: pointer;
    float: right;
    // padding: 0 $spacing-unit 0 $spacing-unit;
    position: relative;
    user-select: none;

    .nav-icon {
      background: white;
      display: block;
      height: 2px;
      margin-top: 1.9vh;
      position: relative;
      transition: background .2s ease-out;
      width: 18px;

      &:before, &:after {
        background: white;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
      }

      &:before {
        top: 5px;
      }

      &:after {
        top: -5px;
      }
    }

  }

  .menu-btn {
    display: none;
  }
  
  .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }
  
  .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top:0;
  }
  
  .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top:0;
  }
  
  /* 48em = 768px @ 16pt font */
  @media screen and (min-width: 48em) {
    li {
      float: left;
      a {
        padding: 0 0 2rem 2rem;
      }
    }

    .menu {
      clear: none;
      float: right;
      padding-left: 0vw;
      margin-left: 0vw;
      max-height: none;
    }
    
    .menu-icon {
      display: none;
    }
  }

}