---
layout: page
---

{% include category_links.html %}

{{ content }}

{% if site.paginate and paginator %}
  {% assign xposts = paginator.posts %}
{% else %}
  {% assign xposts = site.posts %}
{% endif %}

{% include post_cards.html posts=xposts show_category=true %}

{% if site.paginate and paginator %}
<nav aria-label="Post pagination">
  <ul class="pagination">
  {% if paginator.previous_page %}
    <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path }}">Previous</a></li>
  {% else %}
    <li class="page-item disabled"><span class="page-link">Previous</span></li>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <li class="page-item active" aria-current="page"><span class="page-link">{{ page }}</span></li>
    {% elsif page == 1 %}
      <li class="page-item"><a class="page-link" href="{{ '/insights/' | relative_url }}">{{ page }}</a></li>
    {% else %}
      <li class="page-item"><a class="page-link" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a></li>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path }}">Next</a></li>
  {% else %}
    <li class="page-item disabled"><aspan class="page-link">Next</span></li>
  {% endif %}
</ul>
</nav>
{% endif %}
