---
layout: default
---

{% include wrap.html %}
<div class="navbar">
  <div class="container">
    <div class="navbar-collapse collapse navbar-left">
      <ul class="nav navbar-nav">
        {% for category in site.data.categories %}
            <li><a href="/insights/{{ category[0]  }}">{{ category[1] }}</a></li>
        {% endfor %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container mtb">
    <div class="row">
        <! -- SINGLE POST -->
        <div class="col-lg-10">
            <p>
                <img class="img-responsive" src="{{ page.img }}">
            </p>
            <!-- <a href="{{ page.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ page.title }}</h3></a> -->
            <p><csmall>{{ page.date | date: "%b %-d, %Y" }}</csmall></p>

            {{ content }}

            <div class="spacing"></div>
            <!-- <h6>SHARE:</h6>
            <p class="share">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-tumblr"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
            </p> -->
        </div><! --/col-lg-8 -->


    </div><! --/row -->
</div><! --/container -->
