---
layout: default
---

<article itemtype="http://schema.org/BlogPosting"  class="container">
  <header>
    <h1 itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="entry-meta">
      {% if page.categories %}
        {% for category in page.categories %}
          <a href="/insights/{{ category | slugify }}">{{category}}</a>
          {% unless forloop.last %}&nbsp;{% endunless %}
        {% endfor %}
        <!-- {{ page.categories | join: ', ' }} -->
        •
      {% endif %}

      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date_to_string }}</time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span class="p-author h-card" itemprop="name">{{ page.author | escape }}</span>
        </span>
      {% endif %}
    </p>
  </header>

  <div class="content">
    {% if page.image %}
      <img src="{{ page.image }}" alt="Post image">
    {% endif %}

    {{ content }}
  </div>
</article>

{% include further_reading.html posts=page.further_reading %}