/***** Components, common blocks *****/

.blockquote {
    background: $primary;
    // padding: 90px 90px 90px 300px;
    margin: 0;
    color: #fff;
    background: $primary url('../images/el/quote.png') 84px 92px no-repeat;
    // @include max($xxl) {
      padding: calc(30px + 2vw) calc(10px + 2vw) calc(30px + 2vw) calc(40px + 8vw);
      background-size: calc(30px + 5vw) auto;
      background-position: 2vw 2vw;
    // }
    p {
      font-size: 46px;
      font-weight: bold;
      font-style: italic;
      margin-bottom: 66px;
      line-height: 1.22;
      @include max($xxl) {
        font-size: calc(1rem + 2vw);
        margin-bottom: 4vw;
      }
    }
    .blockquote-footer {
      font-size: 28px;
      font-weight: 500;
      color: #fff;
      margin: 0;
      @include max($xxl) {
        font-size: calc(1rem + 1vw);
      }
      &:before {
        display: none;
      }
    }
  }

  .blockquote + h2 {
    margin-top: 4vh;
  }